.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease;
}

.carousel-slide img {
  width: 25%;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  z-index: 2;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}


/*Checklist*/
.modal_escolhas {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_escolhas-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close_escolhas {
  color: #aaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close_escolhas:hover,
.close_escolhas:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Checklist* - pop-up*/
#mymodal_escolhas {
  overflow: hidden;
}

#mymodal_escolhas h4 {
  margin-left: 3%;
}

.checlist_escolhas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.checlist_escolhas li {
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
  max-width: 600px;
  margin: 10px;
}

.checlist_escolhas input[type="checkbox"] {
  display: none;
}

.checlist_escolhas label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checlist_escolhas input[type="checkbox"]:checked+label:before {
  content: "\2713";
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.checlist_escolhas ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.checlist_escolhas input[type="checkbox"] {
  display: none;
}

.checlist_escolhas label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#escolha_help {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-left: auto;
}

#escolha_help:hover {
  background-color: #16a085;
}

/*Página inicial*/

.Test_pagInicial {
  background: white;
  max-height: 26em;
  min-height: 20em;
  margin-bottom: 5em;
}

#Test_pagInicial p {
  margin-left: 2em;
  text-align: justify;
  width: 80%;
}

#Test_pagInicial button {
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  min-width: 20%;
  margin-left: 2em;
}

.Test_pagInicial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin: auto;
}

.image img {
  width: 80%;
  margin-right: 10em;
}

.Ex_ONGs {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Ex_ONGs-item h4 {
  margin: 0.5em;
  text-align: center;
  font-family: cu;
}

.Ex_ONGs-item p {
  text-align: justify;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.Ex_ONGs img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 15em;
}

.Ex_ONGs-item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}


/*Formulario de contato*/
.contact-form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.contact-form h2 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form button[type="submit"] {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-left: auto;
}

.contact-form button[type="submit"]:hover {
  background-color: #16a085;
}

#image1,
#image2 {
  width: 25%;
  border-radius: 360px;
  display: flex;
}

.button-container {
  display: flex;
}

/*Página do usuario/ong*/

#user {
  background-color: #243851;
  color: #fff;
  height: 20em;
  padding: 2em 0;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}

#user img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#user h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#user h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#user ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user ul li {
  font-size: 18px;
  margin: 0 10px;
}

#user ul li i {
  margin-right: 5px;
}

.inf_user {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2em;
}

.sidebar {

  width: 25%;
  float: left;
  margin-right: 1em;
}

.main {
  width: 75%;
  float: left;
}

.inf_user {
  background-color: #f2f2f2;
  padding: 1rem;
}

.inf_user h2 {
  margin-top: 0;
}

#data-container {
  display: flex;
  flex-direction: column;
}

.data-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remove-data {
  margin-left: 1em;
}

.op_ajuda input[type="text"] {
  font-size: 18px;
  border: none;
  border-bottom: 0.1rem solid #555;
  margin-right: 10px;
  background: none;
}

.op_ajuda button {
  background-color: #1abc9c;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.2em;
}

.op_ajuda button:hover {
  background-color: #16a085;
}

#dadosLista li {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  list-style: circle;
  padding: 0;
}


/********************
CARD DAS ONG
********************/

/* Estilos gerais */

:root {
  --surface-color: #cde6fb;
  --curve: 8;
}

.bloco_ong {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.bloco {
  position: relative;
  display: block;
  height: 23em;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  margin-top: 2em;
}

.bloco__image {
  width: 99.8%;
  height: 100%;
}

.bloco_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.bloco:hover .bloco_overlay {
  transform: translateY(0);
}

.bloco_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.bloco__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.bloco__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.bloco:hover .bloco_header {
  transform: translateY(0);
}

.bloco_img_user {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bloco_title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #243851;
}

.bloco_description {
  padding: 0 2em 2em;
  margin: 0;
  color: #243851;
  opacity: 80%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

/* Estilos para telas de celular */

@media (max-width: 767px) {
  .bloco_ong {
    grid-template-columns: 1fr; /* Um único bloco por linha em telas de celular */
    margin: 2rem 5vw; /* Reduz a margem para ficar mais adequado em telas menores */
  }

  .bloco {
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    margin-top: 1em; /* Espaçamento menor entre os blocos */
  }

  .bloco__image {
    height: 200px; /* Altura fixa para a imagem em telas de celular */
  }

  .bloco_header {
    padding: 1em; /* Espaçamento menor no cabeçalho */
  }
}


/*Passar a página caso houver preenchido toda a página*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  display: inline-block;
  margin: 5px;
  padding: 0.1em 0.4em;
  border-radius: 30px;
  margin-bottom: 2em;
  text-decoration: none;
  color: #fff;
  background-color: #666;
  transition: background-color 0.2s ease;
}

.pagination a.current {
  background-color: #243851;
}

.pagination a:hover {
  background-color: #333;
}

.pagination a.prev,
.pagination a.next {
  font-weight: bold;
}


/* Pop-up do checklist */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.escolha_checklist {
  background-color: #ffffff;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Checklist*/
#myModal {
  overflow: hidden;
}

#myModal h4 {
  margin-left: 3%;
}

.checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.checklist li {
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
  max-width: 600px;
  margin: 10px;
}

.checklist input[type="checkbox"] {
  display: none;
}

.checklist label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checklist input[type="checkbox"]:checked+label:before {
  content: "\2713";
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.checklist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.checklist input[type="checkbox"] {
  display: none;
}

.checklist label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#escolha_help {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-left: auto;
}

#escolha_help:hover {
  background-color: #16a085;
}

/*Pagina usuario*/
main {
  padding: 1rem 0 3rem 0;
}

.inf_user {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 2em;
}

.sidebar {
  width: 50%;
  margin-right: 1em;
}

.inf_user section {
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  padding: 2rem;
}

#imagem {
  max-height: 20em;
  min-height: 12em;
  border-radius: 1rem;
  margin-bottom: 1.5em;
}

#usuario {
  background: none;
}

#usuario button {
  background-color: #1abc9c;
  color: #ffffff;
  padding: 0.2rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.2em;
  width: 90%;
}

#usuario button:hover {
  cursor: pointer;
  background-color: #16a085;
}

.additional-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 3fr));
  gap: 10px;
}

.additional-info-item {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.additional-info-item .info-text {
  margin-bottom: 10px;
}

.additional-info-item .remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

#dadosUser p {
  white-space: nowrap;
}

#dadosUser button {
  width: 10em;
  display: flex;
}

/*----------------
PÁGINAS DAS ONGS*/

#fundo_infOngs ul {
  list-style: none;
  padding: 0;
}

#fundo_infOngs ul li:before {
  content: "✓";
  color: rgb(140, 243, 131);
  display: inline-block;
  width: 10px;
  margin-right: 10px;
}

#fundo_infOngs h1 {
  color: rgb(255, 255, 255);
  margin: 2% 5% 0 5%;
}

#fundo_infOngs li {
  color: rgb(255, 255, 255);
  margin: 3% 5% 0 5%;
  font-size: 1.3em;
  text-align: justify;
}

/*---------------------
CHECKLIST
**********************/
#ongList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.ong-card {
  flex: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
}

#ongList h6{
  text-align: center;
  margin: 0.5em 0 0 0;
  font-size: 1.2rem;
}

#subTituloChecklist p{
  font-size: 1.2rem;
}

#imagem_ONG img{
  height: 100%;
  width: 100%;
}
