/*--------------
PÁGINA INICIAL
----------------*/
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

  /* Estilos para dispositivos móveis (telas menores que 768px) */
  @media screen and (max-width: 767px) {
  /* Coloque seus estilos para dispositivos móveis aqui */
  .desktop-only {
    display: none; /* Oculta elementos com a classe 'desktop-only' em telas menores que 768px */
  }
}

body h2{
  text-align: left;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease;
}

.carousel-slide img {
  width: 25%;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #ff0909;
  background-color: #333;
  text-decoration: none;
  z-index: 2;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/*Checklist*/
.modal_escolhas {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_escolhas-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close_escolhas {
  color: #aaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close_escolhas:hover,
.close_escolhas:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Checklist* - pop-up*/
#mymodal_escolhas {
  overflow: hidden;
}

#mymodal_escolhas h4 {
  margin-left: 3%;
}

.checlist_escolhas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.checlist_escolhas li {
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
  max-width: 600px;
  margin: 10px;
}

.checlist_escolhas input[type="checkbox"] {
  display: none;
}

.checlist_escolhas label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checlist_escolhas input[type="checkbox"]:checked+label:before {
  content: "\2713";
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.checlist_escolhas ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.checlist_escolhas input[type="checkbox"] {
  display: none;
}

.checlist_escolhas label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#escolha_help {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-left: auto;
}

#escolha_help:hover {
  background-color: #16a085;
}

/*Página inicial*/

.Test_pagInicial {
  background: white;
  max-height: 26em;
  min-height: 20em;
  margin-bottom: 5em;
}

#Test_pagInicial p {
  margin-left: 2em;
  text-align: justify;
  width: 80%;
}

#Test_pagInicial button {
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  min-width: 20%;
  margin-left: 2em;
}

.Test_pagInicial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin: auto;
}

.image img {
  width: 80%;
  margin-right: 10em;
}

.Ex_ONGs {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Ex_ONGs-item h4 {
  margin: 0.5em;
  text-align: center;
  font-family: cu;
}

.Ex_ONGs-item p {
  text-align: justify;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.Ex_ONGs img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 15em;
}

.Ex_ONGs-item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

/********************
CARD DAS ONG
********************/

:root {
  --surface-color: #cde6fb;
  --curve: 8;
}

.bloco_ong {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.bloco {
  position: relative;
  display: block;
  height: 23em;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  margin-top: 2em;
}

.bloco__image {
  width: 99.8%;
  height: 100%;
}

.bloco_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.bloco:hover .bloco_overlay {
  transform: translateY(0);
}

.bloco_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.bloco__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.bloco__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.bloco:hover .bloco_header {
  transform: translateY(0);
}

.bloco_img_user {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bloco_title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #243851;
}

.bloco_description {
  padding: 0 2em 2em;
  margin: 0;
  color: #243851;
  opacity: 80%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

/* Estilos para telas de celular */

@media (max-width: 767px) {
  .bloco_ong {
    grid-template-columns: 1fr;
    margin: 2rem 5vw;
  }

  .bloco {
    height: auto;
    margin-top: 1em;
  }

  .bloco__image {
    height: 200px;
  }

  .bloco_header {
    padding: 1em;
  }
}

.apreOng p{
  font-size: 1.1rem;
  text-align: left;
}

/* Pop-up do checklist */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.escolha_checklist {
  background-color: #ffffff;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Checklist*/
#myModal {
  overflow: hidden;
}

#myModal h4 {
  margin-left: 3%;
}

.checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.checklist li {
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
  max-width: 600px;
  margin: 10px;
}

.checklist input[type="checkbox"] {
  display: none;
}

.checklist label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checklist input[type="checkbox"]:checked+label:before {
  content: "\2713";
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.checklist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.checklist input[type="checkbox"] {
  display: none;
}

.checklist label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#escolha_help {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  margin-left: auto;
}

#escolha_help:hover {
  background-color: #16a085;
}

/*******************
PÁGINA DE USUÁRIO
*******************/

#data-container {
  display: flex;
  flex-direction: column;
}

.data-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remove-data {
  margin-left: 1em;
}

.op_ajuda input[type="text"] {
  font-size: 18px;
  border: none;
  border-bottom: 0.1rem solid #6a6a6a;
  width: 90%;
  margin-right: 10px;
  margin: 0 1rem 1rem 0;
  background: none;
}

.op_ajuda button {
  background-color: #67dce7;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.2em;
}

.op_ajuda button:hover{
  background-color: #57b7c0;
}

#dadosLista li {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  list-style:circle;
  padding: 0;
}

.additional-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 3fr));
  gap: 10px;
}

.additional-info-item {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.additional-info-item .info-text {
  margin-bottom: 10px;
}

.additional-info-item .remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

.inf_user {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 2em;
}

.inf_user section {
  margin-bottom: 1rem;
  padding: 3rem;
}

#usuario{
  background-size: cover;
  background-image: url(https://uploaddeimagens.com.br/images/004/550/065/full/imagem_2023-07-19_143547954.png?1689788149);
  /*background: linear-gradient( #d5eaff, #9cc7f4e8, #205c9de8); /* Gradiente linear de branco para azul */
}

#usuario button{
background-color: #67dce7;
color: #ffffff;
padding: 0.2rem 2rem;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 1em;
margin: 1em 0 0 1em;
}

#usuario button:hover{
cursor: pointer;
background-color: #57b7c0;
}

#dadosUser p {
  white-space: nowrap;
}

#dadosUser button {
  width: 10em;
  display: flex;
}

.user-info {
  margin: 0 0 0 5em;
  display: flex;
  align-items: center;
}

.user-info img {
  max-width: 15%;
  max-height: 15%;
  margin-right: 20px;
  border-radius: 3%;
  float: left;
  margin: 3em 0 1em 0;
}

.user-info h5 {
  margin: 1rem;
  color: white;
}

@media (max-width: 767px){
  .user-info img {
    max-width: 25%;
    margin-right: 10px;
    margin: 5% 0 1em 0;
  }

  .user-info {
    margin: 0 0 0 1em;
  }

  .list-group-item {
    display: flex;
    align-items: center;
    white-space: normal;
  }

  .list-group-item label {
    flex-grow: 1;
  }

  .additional-info-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .additional-info-item .remove-button {
    position: absolute;
    top: 5px;
    left: 40%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
  }

  .op_ajuda button {
    background-color: #67dce7;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.2em;
    margin-bottom: 1rem;
  }

  .op_ajuda button:hover {
    background-color: #57b7c0;
  }

  #introText {
    font-size: 14px; /* Reduza o tamanho da fonte */
    line-height: 1.4; /* Ajuste o espaçamento entre linhas */
    margin-bottom: 15px;
  }

  #usuario button{
    background-color: #67dce7;
    color: #ffffff;
    padding: 0 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -1% 0 0 6%;
    height: 1.5em;
    font-size: 0.8rem;
    }

    .user-info h5 {
      font-size: 15px;
      color: white;
    }

    #additionalInfoList, .modal-title{
      text-align: left;
    }
}

.btn-typeHelp {
  margin: 0 0 3% 0;
}

.title-user{
  text-align: left;
}

.btn-typeHelp {
  margin: 0 0 3% 0;
}

#profile-photo-option{
  margin: 5% 0 0 0;
  width: 30%;
  margin-left: auto;
}

.modalUser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalUser-content {
  background-color: white;
  padding: 1%;
  max-width: 50%;
  margin: 0.5% auto;
  border-radius: 2%;
}

.photo-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-photo-option {
  margin: 0 0 3% 0;
  height: 10em;
  width: 10em;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px){
   .modalUser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modalUser-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 95%;
    margin: 2% auto;
    border-radius: 2%;
  }

  .photo-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .profile-photo-option {
    width: calc(33.33% - 10px);
    margin: 0 0 3% 0;
    height: 25%;
    width: 25%;
    cursor: pointer;
  }

  #profile-photo-option{
      margin: 5% 0 0 0;
      width: 100%;
  }
}


.profile-photo-option:hover {
  border: 2px solid blue;
}

.selected {
  border: 2px solid blue;
}


#photoModal {
  z-index: 1000;
}

#additionalInfoList {
  z-index: 900;
}

#deactivateAccountButton{
  background-color: red;
}

#danger{
  margin: 5% 0 0 0;
}

/********************
PÁGINAS DAS ONGS
********************/

#fundo_infOngs ul {
list-style: none;
padding: 0;
}

#fundo_infOngs ul li:before {
content: "✓";
color: rgb(140, 243, 131);
display: inline-block;
width: 10px;
margin-right: 10px;
}

#fundo_infOngs h1 {
color: rgb(255, 255, 255);
margin: 2% 5% 0 5%;
}

#fundo_infOngs li {
color: rgb(255, 255, 255);
margin: 3% 5% 0 5%;
font-size: 1.3em;
text-align: justify;
}

#ongInfo h2{
  margin: 1em 0 0 0;
}

/*---------------------
CHECKLIST
**********************/

#subTituloChecklist p{
  font-size: 1.2rem;
}

#ongList {
  display: grid;
  grid-template-columns: repeat(3, minmax(15em, 1fr));
  gap: 1rem;
  margin: 2rem auto;
  padding: 0;
  list-style-type: none;
}

#password-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#imagem_ONG img{
  height: 100%;
  width: 100%;
  }

@media (max-width: 767px) {
  #ongList {
    grid-template-columns: 1fr;
    margin: 2rem 5vw;
    height: auto;
  }
}


/***************
TERMOS DE USO
***************/
#termos-uso p{
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color: #2f2f2f;
  line-height: 1.5;
}

#termos-uso{
  margin: 5em;
  margin-left: 10%;
  margin-right: 10%;
}


#TermosOng p{
  text-align: justify;
  margin: 2% 22% 2% 20%;
}

#TermosOng h3{
  margin: 2% 0 2% 21.6%;
}

#TermosOng ul{
  margin: 0 0 5% 0;
}

.titleOng{
  margin: 2% 0 5% 0;
}
/***********************
PAGINA DOS VOLUNTARIOS
***********************/
.volunteer-card:nth-child(odd) {
  background-color: #8f98cb;
}

.volunteer-card:nth-child(3n+1) {
  background-color: #6373cf;
}

.volunteer-card:nth-child(3n+2) {
  background-color: #53bae6;
}

.volunteer-card:nth-child(even) {
  background-color: #7cb8eb;
}

.volunteer-card:last-child {
  background-color: #cde6fb;
}

.volunteers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 5em auto 3em auto;
  max-width: 80%;
  align-items: stretch;
  gap: 1em;
}

.volunteer-card {
  flex: 0 1 calc(30.30% );
  border-radius: 5%;
  padding: 2%;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

.volunteer-info ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.volunteer-info li {
  margin-bottom: 5px;
}

.volunteer-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  display: block;
}

@media screen and (max-width: 768px) {
  .volunteers-list {
    justify-content: center;
    align-items: center;
    margin: 5em 0 3em 0%;
    max-width: 100%;
  }

  .volunteer-card {
    width: 100%;
    margin: 0 5% 0 5%;
    flex: 0 1 calc(100.100% );
  }
}

/*****************************
CADASTRO DAS INFORMACOES ONGS
*****************************/

.fundo_formOng{
  background-image: url(https://uploaddeimagens.com.br/images/004/541/947/full/imagem_2023-07-12_121512599.png?1689174926);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introCadastro {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 100%;
}

.form_ong{
  background:white;
  width: 50%;
  margin: 0 auto 0 auto;
  margin: 2% 0 5% 0;
  border-radius: 1%;
}

.form-container{
   margin: 2% 0 2% 0;
}

#btn-next{
  margin: 2% 0 0 0;
}

#logoutButton{
  margin: 3% 0 5% 0;
}

#form_ong{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#form_ong p{
  font-size: 1.2em;
}

.space{
  border-top: 0.1rem solid black;
  margin: 5% 0 5% 0;
}

.form_ong label{
  margin: 3% 0 0 0;
}

#Intro p{
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .form_ong {
    width: 768px;
    max-width: 100%;
    min-height: 100%;
  }
}

.RespDepois{
float: right;
margin: 3% 0 1% 0;
}

#btn-RespDepois{
  margin: 1% 0 0 0;
}


#agradecimento {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  background-color: #ffffff;
  padding: 1em 2em 0 1em;
  box-shadow: 0 10em 0 30em rgba(0, 0, 0, 0.657);
}

#agradecimento p{
  font-size: 1.2rem;
}

#agradecimento img{
  margin: -6em 5% 0 5%;
}


/********
IDIOMA
********/


#language-select {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #5649e0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.5; /* Opacidade inicial quando não estiver em foco */
  transition: opacity 0.3s ease; /* Adiciona uma transição suave para a propriedade de opacidade */
}

#language-select:hover {
  opacity: 1; /* Opacidade total quando o seletor de idiomas está em foco (mouse em cima) */
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
}

.language-button img {
  width: 30px;
  height: 30px;
}

#inf_ong p{
  margin: 0 0 -0.1em 0;
  font-weight: 700;
}

.ong-info-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item p {
  margin: 0;
  font-weight: bold;
}

.social-icon {
margin: 0 0 2em 0;
}

/*#language-select {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #5649e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#language-select .options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: #fff;
    border: 1px solid #5649e0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}*/
