html,body{
  background-color: #FFF;
  /*background-color: #D6E1E7;*/
  font-size: 1rem;
  text-align: justify;
  overflow-x: hidden;


  @media screen and (max-width: 600px) {
    text-align: left;
  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
  }

  @media screen and (min-width: 1025px) {
  }
}

body h1,h2,h3,h4,h5,a{
  font-family: 'Josefin Sans', sans-serif;
}

p, span{
  font-family: Arial, Helvetica, sans-serif;
}


#img_user{
    float: right;
    margin: 1em;
    height: 2em;
    border-radius: 360px;
}

/*Menu lateral*/
.jquery-accordion-menu ul{
  margin:0;
  padding:0;
  list-style:none;
}
.jquery-accordion-menu ul li{
  width:100%;
  display:block;
  float:left;
  position:relative
}
.jquery-accordion-menu ul li a{
  width:100%;
  padding:14px 22px;
  float:left;
  text-decoration:none;
  color:#000000;
  font-size: 1rem;
  white-space:nowrap;
  position:relative;
  overflow:hidden;
}

.jquery-accordion-menu ul li a i{
  width:34px;float:left;
  line-height:18px;font-size:16px;
  text-align:left
}

.jquery-accordion-menu .submenu-indicator{
  float:right;
  right:22px;
  position:absolute;
  line-height:19px;font-size:20px;
  -o-transition:transform .3s linear;
  -moz-transition:transform .3s linear;
  -webkit-transition:transform .3s linear;
  -ms-transition:transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator{
  line-height:16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{
  -ms-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{
  width:100%;
  display:none;
  position:static
}

.jquery-accordion-menu ul ul.submenu li{
  clear:both;width:100%
}

.jquery-accordion-menu ul ul.submenu li a{
  width:100%;
  float:left;
  font-size:11px;
  border-bottom: black 1px solid;
  border-top:none;
  position:relative;
  border-left:solid 6px transparent;
  -o-transition:border .2s linear;
  -moz-transition:border .2s linear;
  -webkit-transition:border .2s linear;
  transition:border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a{
  border-left-color:#0760ee
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db; /* Cor do ícone de carregamento */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
