body {
    height: 100vh;
}

input {
    border: none;
}
button {
    margin-bottom: 10px;
}

button {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em 0 0 0;
}

input, select {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    width: 100%;
}
