html,body{
  background-color: #FFF;
  /*background-color: #D6E1E7;*/
  font-size: 1rem;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}


body h1,h2,h3,h4,h5,p,span{
  font-family: cu;
}


.cabecalho {
  max-width: 1200px;
  margin: 0 auto;
}

.cabecalho img{
  height: 3.5em;
}

#img_user{
    float: right;
    margin: 1em;
    height: 2em;
    border-radius: 360px;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 10px;
    }
}

footer {
  background-color: #d6e6fa;
  padding: 20px;
  text-align: center;
}

footer p{
  color: rgb(44, 47, 89);
}

.rodape {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 10px;
    }
}

/*Menu lateral*/
.jquery-accordion-menu ul{
  margin:0;
  padding:0;
  list-style:none;
}
.jquery-accordion-menu ul li{
  width:100%;
  display:block;
  float:left;
  position:relative
}
.jquery-accordion-menu ul li a{
  width:100%;
  padding:14px 22px;
  float:left;
  text-decoration:none;
  color:#000000;
  font-size: 1rem;
  white-space:nowrap;
  position:relative;
  overflow:hidden;
}

.jquery-accordion-menu ul li a i{
  width:34px;float:left;
  line-height:18px;font-size:16px;
  text-align:left
}

.jquery-accordion-menu .submenu-indicator{
  float:right;
  right:22px;
  position:absolute;
  line-height:19px;font-size:20px;
  -o-transition:transform .3s linear;
  -moz-transition:transform .3s linear;
  -webkit-transition:transform .3s linear;
  -ms-transition:transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator{
  line-height:16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{
  -ms-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{
  width:100%;
  display:none;
  position:static
}

.jquery-accordion-menu ul ul.submenu li{
  clear:both;width:100%
}

.jquery-accordion-menu ul ul.submenu li a{
  width:100%;
  float:left;
  font-size:11px;
  border-bottom: black 1px solid;
  border-top:none;
  position:relative;
  border-left:solid 6px transparent;
  -o-transition:border .2s linear;
  -moz-transition:border .2s linear;
  -webkit-transition:border .2s linear;
  transition:border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a{
  border-left-color:#0760ee
}
